mat-icon
  margin-right: 8px

.movie-item:hover
  background: #dddddd

.movie-icon
  width: 14px
  height: 14px
  font-size: 14px
  margin-right: 3px

.movie-poster
  width: 92px
  height: 138px

.movie-info
  padding-right: 20px

.people-profile
  width: 45px
  height: 68px
